__pycache__/
.pytest_cache/
*.py[cod]
outputs/
data/era5/*
!data/era5/.gitkeep
data/aifs/*
!data/aifs/.gitkeep
data/ibtracs/*
!data/ibtracs/.gitkeep
data/label_cache/*
!data/label_cache/.gitkeep
!data/label_cache/era5/
!data/label_cache/aifs/
data/label_cache/era5/*
!data/label_cache/era5/.gitkeep
data/label_cache/aifs/*
!data/label_cache/aifs/.gitkeep
*.ckpt
*.npz
